# Ignore Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Ignore Environement files
.env

# Ignore virtual environment directories
venv/
ENV/
env/
.venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore mypy cache
.mypy_cache/

# Ignore pytest cache
.pytest_cache/

# Ignore coverage reports
htmlcov/
.coverage
.coverage.*

# Ignore Python egg files
*.egg
*.egg-info/
dist/
build/

# Ignore pipenv files
Pipfile.lock

# Ignore tox files
.tox/

# Ignore local configuration files
*.local

# Ignore data files
ressources/datasets/*